{% extends "accounts/auth_base.html" %}

{% block title %}Creator Sign Up | Badger{% endblock %}

{% block toggle %}
  <a href="{% url 'login' %}">Login</a>
  <span class="active">Sign Up</span>
{% endblock %}

{% block heading %}
  <h1>Join as a creator</h1>
  <p>Build partnerships and grow your audience with Badger.</p>
{% endblock %}

{% block pre_social %}
  <div class="account-type-switcher">
    <a href="{% url 'business_signup' %}">Business</a>
    <span class="active">Creator</span>
    <a href="{% url 'user_signup' %}">User</a>
  </div>
  <p class="auth-subtext">
    Get into your dashboard in seconds. We'll guide you through the rest of your
    profile inside Badger.
  </p>
{% endblock %}

{% block submit_label %}Create creator account{% endblock %}

{% block footer %}
  Already have an account?
  <a href="{% url 'login' %}">Log in</a>
{% endblock %}
