{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
<form action="{% url 'admin:ledger_send_payouts' %}" method="post" style="display:inline;margin-right:1em;">
    {% csrf_token %}
    <input type="submit" class="button" value="{% trans 'Send PayPal Payouts' %}">
</form>
<form action="{% url 'admin:ledger_generate_invoices' %}" method="post" style="display:inline;margin-right:1em;">
    {% csrf_token %}
    <input type="submit" class="button" value="{% trans 'Generate Merchant Invoices' %}">
</form>
{{ block.super }}
{% endblock %}
