{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  {% include "admin/merchantlist/config/includes/publish_button.html" with wrapper_tag="li" form_style="display:inline;" button_style="margin-left:0.5rem;" %}
{% endblock %}

{% block submit_buttons_top %}
  {{ block.super }}
  {% include "admin/merchantlist/config/includes/publish_button.html" %}
{% endblock %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  {% include "admin/merchantlist/config/includes/publish_button.html" %}
{% endblock %}
