{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
<form action="{% url 'admin:merchants_generate_invoices' %}" method="post" style="display:inline;margin-right:1em;">
    {% csrf_token %}
    <input type="submit" class="button" value="{% trans 'Generate Merchant Invoices' %}">
</form>
<form action="{% url 'admin:merchants_refresh_shopify_subscriptions' %}{{ cl.get_query_string }}" method="post" style="display:inline;margin-right:1em;">
    {% csrf_token %}
    <input type="submit" class="button" value="{% trans 'Refresh Shopify Subscriptions' %}">
</form>
{{ block.super }}
{% endblock %}
