{% extends 'merchants/base.html' %}
{% block title %}Add Item{% endblock %}
{% block content %}
<section class="my-4">
    <h1 class="fw-bold fs-3 mb-4">Add New Item</h1>
    <div class="card shadow-sm rounded">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Item</button>
            </form>
        </div>
    </div>
    <a href="{% url 'merchant_dashboard' %}" class="btn btn-link mt-3">&larr; Back to Dashboard</a>
</section>
{% endblock %}
